@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*:root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }*/
}

/* @layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */

/******************
custom styles
******************/

@font-face {
  font-family: 'Oswald';
  src: url('/fonts/Oswald-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Avenir';
  src: url('/fonts/Metropolis-Light.woff2') format('woff');
}

* {
  box-sizing: border-box;
}

@layer base {
  html {
    /* font-family: Avenir, Helvetica, Arial, sans-serif; */
    font-family: Oswald, Helvetica, Arial, sans-serif;
    /* color: #44403c; */
    color: #000;
    font-size: 0.9rem;
    /* color: #d6d3d1; */
    background-color: transparent !important;
  }
  body {
    background-image: url(./../../public/img/bg-01.webp);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    position: relative;
  }
  .container {
    position: relative;
  }
  @media (max-width: 1024px) {
    .container {
      padding: 0 !important;
    }
  }
  header,
  main {
    background-color: rgba(255, 255, 255, 0.9);
  }
  header {
    z-index: 10000;
  }
}

/* [data-overlay-container] {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
} */

nav#main-navigation {
  font-family: Avenir;
  white-space: nowrap;
  width: 100%;
}
nav#main-navigation a,
nav#main-navigation span {
  @apply text-base;
}
/* nav#main-navigation .a-propos a {
  @apply text-3xl
} */

nav#main-navigation > ul {
  position: relative;
  height: 100%;
  justify-content: space-between;
  align-items: flex-end;
}
nav#main-navigation > ul > li {
  position: relative;
  padding: 0 2rem;
}
nav#main-navigation > ul > li .has-submenu {
  position: absolute;
  right: 49%;
  top: 16px;
}
nav#main-navigation > ul ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 0;
  overflow: hidden;
  background: #fff;
  transition: height 0.3s ease-in;
}
nav#main-navigation > ul > li.open ul {
  height: 625px;
}
nav#main-navigation > ul ul li a {
  display: block;
  margin: 1rem;
}
nav#main-navigation .submenuLayer {
  z-index: 10;
  width: 20rem;
  box-shadow: 5px 5px 15px -6px #000;
  white-space: wrap;
  background-color: #fff;
  overflow: hidden;
  position: absolute;
  transition: all 0.2s ease-in;
}
nav#main-navigation .close > .submenuLayer {
  height: 0 !important;
  padding: 0;
}
nav#main-navigation .open > .submenuLayer {
  height: 370px;
  padding: 1rem 1.5rem;
}
nav#main-navigation .submenuLayer p {
  margin-top: 1rem;
}

#sidebar-navigation > ul > li {
  width: 170px;
}
#sidebar-navigation > ul > li svg {
  display: inline;
}
#sidebar-navigation > ul > li > a {
  display: block;
  padding: 1rem;
  text-align: center;
  background: linear-gradient(
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.4)
      )
      50% 50% / calc(100% - 2px) calc(100% - 2px) no-repeat,
    linear-gradient(0deg, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.6) 100%);
  border-radius: 0px;
  /* padding: 5px; */
  box-sizing: border-box;
}
#sidebar-navigation > ul > li.has-submenu {
  position: absolute;
  right: 0;
  bottom: 3px;
  text-align: center;
}
#sidebar-navigation > ul ul {
  position: absolute;
  display: flex;
  margin-left: 1px;
  flex-direction: column;
  height: 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.4);
  transition: height 0.2s ease-in;
}
#sidebar-navigation > ul > li.open ul {
  height: 600px;
}
#sidebar-navigation > ul ul li a {
  display: block;
  margin: 1rem;
}

@media (max-width: 1280px) {
  nav#main-navigation.close > ul {
    display: none;
  }
  nav#main-navigation.open .close-btn {
    display: block;
  }
  nav#main-navigation.close .close-btn {
    display: none;
  }
  nav#main-navigation.open .open-btn {
    display: none;
  }
  nav#main-navigation.close .open-btn {
    display: block;
  }
  nav#main-navigation.open > ul {
    position: absolute;
    left: 0;
    top: 110px;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    gap: 1rem;
    text-align: center;
    height: fit-content;
  }
  nav#main-navigation.open > ul > li {
    width: 100%;
  }
  nav#main-navigation > ul ul {
    position: static;
  }
  nav#main-navigation > ul > li.open ul {
    height: auto;
  }
  nav#main-navigation > ul ul li a {
    margin: 0.5rem 0;
  }
}
@media (max-width: 768px) {
  nav#main-navigation.open > ul {
    top: 60px;
  }
}

nav#chapters {
  margin-top: 3rem;
}

header nav#chapters > p {
  margin: 1.5rem 0;
}

.hx_level2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.coordXY {
  text-indent: -10000px;
}

/* main#main-container section.map-page,
#child-page {
  display: flex;
  flex-wrap: wrap;
  @apply flex-nowrap
} */

#sidebar-navigation {
  overflow: hidden;
  height: auto;
  margin-top: 60px;
  z-index: 100;
  flex-basis: 170px;
  margin-right: 20px;
}
.slug-page #sidebar-navigation {
  margin-top: -2rem;
}
#sidebar-navigation > ul {
  position: fixed;
}

form > div {
  @apply flex flex-col gap-2;
}
input,
textarea,
button {
  @apply shadow-md px-6 py-2 border border-slate-300;
}
button {
  @apply max-w-32 mx-auto bg-slate-500 text-white
}

#headlessui-portal-root {
  position: relative;
  z-index: 200;
}

.pin {
  position: absolute;
  background-color: red;
  border-radius: 50%;
  z-index: 100;
  cursor: pointer;
  transition: scale 0.2s ease-in;
  box-shadow: 1px 1px 3px #000;
}
.pin:hover {
  scale: 3 !important;
}
[data-radix-popper-content-wrapper] {
  z-index: 1000 !important;
  /* outline: 3px solid blue; */
}
main > *:not(section) {
  position: relative;
  z-index: 100;
}
#sliderRoot {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20px;
}
#sliderThumb,
.sliderThumb {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: grey;
  cursor: grab;
}
#sliderThumb:hover,
.sliderThumb:hover {
  box-shadow: 0px 0px 0px 8px rgba(25, 118, 210, 0.16);
}
#sliderThumb:active,
.sliderThumb:active {
  cursor: grabbing;
}
#sliderTrack {
  position: relative;
  flex-grow: 1;
  background-color: grey;
  width: 3px;
}
#sliderRange {
  position: absolute;
  /* background-color: black; */
  width: 100%;
}

@media (max-width: 640px) {
  .slider-wrapper {
    right: -10px;
    top: 65px;
    height: 350px;
  }
}
@media (min-width: 640px) {
  .slider-wrapper {
    right: calc((100vw - 640px) / 2);
  }
}
@media (min-width: 768px) {
  .slider-wrapper {
    right: 0;
  }
}
@media (min-width: 1024px) {
  .slider-wrapper {
    right: calc((100vw - 1024px) / 2);
  }
}
@media (min-width: 1280px) {
  .slider-wrapper {
    right: calc((100vw - 1280px) / 2);
  }
}
@media (min-width: 1536px) {
  .slider-wrapper {
    right: calc((100vw - 1400px) / 2);
  }
}
.dialog-panel-wrapper {
  background: transparent url(../../public/img/rip.svg) no-repeat 0 100%;
  /* background-position-y: -84px; */
}
.dialog-reunion {
  scrollbar-width: thin;
  scrollbar-color: rgba(59, 46, 5, 0.3);
  max-height: 38vh;
  overflow-y: auto;
  padding-bottom: 1rem;
  /* margin-top: 1rem; */
  margin-bottom: 2rem;
  /* outline: 5px solid red; */
}
/* .dialog-reunion h3 {
  margin-bottom: 2rem;
} */
.dialog-reunion hr {
  margin: 2rem 0;
}

#tsparticles {
  position: relative;
  z-index: 10000;
}

/* pages génériques */
.generic-content h2 {
  @apply text-xl my-4;
}
.generic-content li {
  @apply list-disc ml-4;
}
.generic-content a {
  text-decoration: underline;
}
.generic-content p {
  margin: 1.5rem 0;
}
.map-page h1 {
  @apply text-4xl text-center my-8;
}
@media (max-width: 768px) {
  .map-page h1 {
    @apply text-2xl;
  }
}

.modal-backdrop {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #bababa;
  border: none;
  box-shadow: 0 0 10px 0 #181817;
  max-width: 43rem;
  max-height: 95vh;
  width: auto;
  height: 100%;
  overflow: hidden;
}

.fullscreen-image {
  width: 100%;
}
.paysage {
  max-width: 70rem;
  height: auto;
}

.fullscreen-image img {
  /* width: 100%;
  max-height: 80vh;  */
  height: auto;
  object-fit: cover;
}

.thumb-img-popover {
  width: 100px;
  height: auto;
  object-fit: cover;
}

/* hack the linebreak bug on legal mentions page */
.legalmentions *:nth-child(4),
.legalmentions *:nth-child(5),
.legalmentions *:nth-child(6) {
  margin: 0;
}
